---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: string;
  pubDate?: Date;
}

const { 
  title = SITE_TITLE, 
  description = SITE_DESCRIPTION, 
  image,
  type,
  pubDate
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} image={image} type={type} pubDate={pubDate} />
  </head>
  <body class="flex min-h-screen flex-col bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>